.input {
    width: 75%;
    padding: 12px 20px;
    margin-top: 10px;
    margin-left: 200px;
    box-sizing: border-box;
    background-color: white;
    cursor: pointer;
}

.h1 {
    display: block;
    font-size: 5em;
    text-align: center;
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
    font-weight: bold;
    color: white;
}

.background_image {
    z-index: -1;
    position: relative;
}